<button class="callback-dialog__close" aria-label="Закрыть"
        onclick="document.getElementById('callback-dialog').close();">
    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.00002 5L8.53556 8.53553M1.46449 8.53553L5.00002 5L1.46449 8.53553ZM8.53556 1.46447L5.00002 5L8.53556 1.46447ZM5.00002 5L1.46449 1.46447L5.00002 5Z"
              stroke="#B9B9B9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</button>

<form class="callback-form" method="dialog">
    <label>Имя<span class="text-red">*</span></label>
    <input
            type="text"
            class="callback-form__input"
            name="Имя"
            placeholder="Введите ваше имя"
            required
            aria-label="Введите ваше имя"
    >
    <label>Телефон<span class="text-red">*</span></label>
    <input
            type="tel"
            class="callback-form__input"
            name="Телефон"
            placeholder="+7 000 000 00 00"
            required
            aria-label="Введите ваш телефон"
            pattern="[\+]\d{1}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
            title="Формат: +7 (123) 456-78-90"
    >


    <p class="callback-form__privacy">
        Нажимая кнопку, вы соглашаетесь с
        <a href="/" target="_blank">политикой конфиденциальности</a> и <a href="/" target="_blank">договором аферты</a>
    </p>
</form>
