
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

#app-footer {
    margin-left: 0.75rem;
    margin-top: auto;
    margin-bottom: 0.75rem;
}

#app-main {
    margin: 48px 1rem 1rem 0.75rem;
}

#app-header {
    margin: 2px 0.5rem;
}