
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

#app-footer {
    margin-left: 0.75rem;
    margin-top: auto;
    margin-bottom: 0.75rem;
    bottom: 0;
}

#app-main {
    margin: 48px 1rem 1rem 0.75rem;
}

#app-header {
    margin: 2px 0.5rem;
}

@media (min-width: 960px) {
    #app-footer {
        position: fixed;
        width: 100vw;
    }

    body {
        justify-content: normal;
    }
}