<nav class="categories">
    <ul class="categories__list">
        <li class="categories__item"><a href="/cat1egory1" class="categories__link">Классические</a></li>
        <li class="categories__item"><a href="/cat1egory2" class="categories__link">Уточки-панки</a></li>
        <li class="categories__item"><a href="/cat1egory3" class="categories__link">Супергерои</a></li>
        <li class="categories__item"><a href="/cat1egory4" class="categories__link">Милые</a></li>
        <li class="categories__item"><a href="/cat1egory5" class="categories__link">Для детей</a></li>
        <li class="categories__item"><a href="/cat1egory6" class="categories__link">Взрослым</a></li>
    </ul>
</nav>