<section class="banner">
    <h1 class="banner__title"><span class="banner__title-first">Много</span> <span class="banner__title-second">уточек</span></h1>
    <div class="banner__content">
        <h2 class="banner__subtitle">Маленький друг найдётся для каждого в этом кряквенно жёлтом мире</h2>
        <button class="banner-button">Смотреть уточек</button>
    </div>
</section>

<picture class="bg-overlay">
    <source media="(min-width: 1280px)" srcset="/images/background-620.png">
    <source media="(min-width: 960px)" srcset="/images/background-577.png">
    <img src="/images/background-343.png" class="responsive-image" alt="Пример">
</picture>